<div class="card" *ngIf="(product.imageUrl) || (product.title) ||(product.price)">
    <img [src]="product.imageUrl" class="card-img-top" *ngIf="product.imageUrl" style="height:300px;">
    <div class="card-body">
        <h5 class="card-title"> {{product.title}}</h5>
        <p class="card-text">{{product.price | currency:'NGN':'symbol-narrow':'.1-2'}}</p>
    </div>
    <div class="card-footer" *ngIf="showAdd">
        <button class="btn btn-secondary btn-block" *ngIf="getquantity()=== 0; else updateQuantity"
            (click)="addToCart()">Add to cart</button>
        <ng-template #updateQuantity>
            <div class="row no-gutters">
                <div class="col-md-2"><button class="btn btn-secondary btn-block" (click)="removeFromCart()">-</button></div>
                <div class="col text-center">{{getquantity()}} in cart.</div>
                <div class="col-md-2"><button (click)="addToCart()" class="btn btn-secondary btn-block">+</button></div>
            </div>
        </ng-template>
    </div>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
</div>