<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="submit(f.value)">
            <div class="formgroup">
                <label for="titles"> Title
                </label>
                <input [(ngModel)]="products.title" #title="ngModel" type="text" required name="title"
                    class="form-control" id="titles" />
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    Title is required!
                </div>
            </div>
            <div class="formgroup">
                <label for="prices"> Price
                </label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">₦</span>
                    </div>
                    <input [(ngModel)]="products.price" #price="ngModel" type="number" required class="form-control"
                        name="price" id="prices" min="0" />
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    Price is required!
                </div>
            </div>
            <div class="formgroup">
                <label for="categorys"> Category
                </label>
                <select [(ngModel)]="products.categoryName" #category="ngModel" class="form-control" id="categorys"
                    name="categoryName" required>
                    <option>-- Select a category</option>
                    <option *ngFor="let categories of categories$" [value]="categories.name">{{categories.description}}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    Category is required!
                </div>
            </div>
            <div class="formgroup">
                <label for="imageurls"> Image Url
                </label>
                <input [(ngModel)]="products.imageUrl" #imageUrl="ngModel" type="text" required class="form-control"
                    name="imageUrl" id="imageurls" />
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    ImageUrl is required!
                </div>
            </div>
            <br />
            <span style="padding:10px"><button class="btn btn-primary" [disabled]="f.invalid">Save</button></span>
            <span style="padding:10px"><button class="btn btn-danger" *ngIf="products.id" type="button"
                    (click)="delete()">Delete</button></span>
        </form>
    </div>
    <div class="col-md-6">
        <productcard [product]="products" [addcart]="false"></productcard>
    </div>
</div>