<p><a routerLink="/admin/products/new" class="btn btn-primary">New Products</a></p>
<p><input type="text" class="form-control" (keyup)=query(search.value) #search placeholder="Search..."/></p>
<!-- <data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
>
<data-table-column
    [property]="'title'"
    [header]="'Title'"
    [sortable]="true"
    [resizable]="true"
>
</data-table-column>
<data-table-column
    [property]="'price'"
    [header]="'Price'"
    [sortable]="true"
    [resizable]="true"
>
<ng-template>
    {{item. price }}
</ng-template>
</data-table-column>
<data-table-column
    [property]="'i'"
>
<ng-template>
    {{item. price }}
</ng-template> 
</data-table-column>
</data-table> -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredproducts">
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td><a class="btn btn-primary" [routerLink]="['/admin/products/', product.id]">Edit</a></td>
        </tr>
    </tbody>
</table>